name: "CI"
on:
  push:

permissions:
  pull-requests: write
  contents: read

jobs:
  # unit tests
  units:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: yarn install
    - run: yarn test